{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Acidentes{% endblock %}

{% block header %}Detalhes do Acidente{% endblock %}

{% block content %}

  {% load staticfiles %}

	<a class="btn btn-default" href="{% url 'acidentes' %}"><img src="{% static 'images/back.png' %}" /></a>

  {% if user.profile.tipoAcesso == 'coordenador' %}
    <a class="btn btn-default" href="/acidentes/editar?id={{acidente.id}}">editar</a>
  {% endif %}

  {% if user.profile.tipoAcesso == 'especialista' %}
    <a class="btn btn-default" href="/acidentes/missoes/novo?acidente_id={{acidente.id}}">cadastrar nova missão</a>
  {% endif %}

  {% if user.profile.tipoAcesso == 'administrador' %}
  	<a class="btn btn-default" href="/acidentes/remover?id={{acidente.id}}" onclick="return confirm('Tem certeza de que deseja remover o acidente?');">remover</a>
  {% endif %}
  <br/><br/>

	<table class="table">
    <tr>
      <th>Data</th>
      <th>Local</th>
      <th>Descrição</th>
      <th>Status</th>
      <th>Coordenador</th>
      <th>Especialista</th>
      <th>Link SVC</th>
      <th>Número de missões</th>
    </tr>
    <tr>
      <td>{{acidente.dataHora|date:'d/m/Y H:i'}}</td>
      <td>{{acidente.local}}</td>
      <td>{{acidente.descricao}}</td>
      <td>{{acidente.get_status_display}}</td>
      <td>{{acidente.coordenador}}</td>
      <td>{{acidente.especialista}}</td>
      <td>{{acidente.SVCid}}</td>
      {% if acidente.missoes_ativas.count == 0 %}
        <td> 0 </td>
      {% else %}
        <td><a href="/acidentes/missoes?acidente_id={{acidente.id}}">{{acidente.missoes_ativas.count}}</a></td>
      {% endif %}
    </tr>
	</table>

  <h3>Missões para o Acidente <a class="small text-primary" href="/acidentes/missoes?acidente_id={{acidente.id}}">(total:{{acidente.missoes_ativas.count}})</a></h3>
  <ul class="list-unstyled">
    {% for missao in acidente.missoes_ativas %}
      <li><a href="/acidentes/missoes/detalhes?id={{missao.id}}">{{missao.nome}} - {{missao.tipoMissao}}</a></li>
    {% endfor %}
  </ul>

	<h3>Câmera SVC<h3>
	<iframe src="{{acidente.SVCid}}"  scrolling='no' frameborder='0' style="overflow: scroll;width: 640px; height:390px;overflow:hidden">Aguarde...</iframe>
{% endblock %}