{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Acidentes{% endblock %}

{% block header %}Detalhes do Acidente{% endblock %}

{% block content %}

  {% load staticfiles %}

  <div class="form-group">
  	<a class="btn btn-default" href="{% url 'acidentes' %}"><img src="{% static 'images/back.png' %}" /></a>

    {% if user.profile.tipoAcesso == 'coordenador' %}
      <a class="btn btn-default" href="/acidentes/editar?id={{acidente.id}}">editar</a>
    {% endif %}

    {% if user.profile.tipoAcesso == 'especialista' and acidente.aceita_novas_missoes %}
      {% if acidente.especialista == None or user.id == acidente.especialista.id %}
        <a class="btn btn-default" href="/acidentes/missoes/novo?acidente_id={{acidente.id}}">Cadastrar missão</a>
      {% endif %}
    {% endif %}

    {% if user.profile.tipoAcesso == 'administrador' %}
      <a class="btn btn-default" href="/acidentes/remover?id={{acidente.id}}" onclick="return confirm('Tem certeza de que deseja remover o acidente?');">remover</a>
    {% endif %}
  </div>

	<dl class="dl-horizontal">
      <dt>Data</dt>
      <dd>{{acidente.dataHora|date:'d/m/Y H:i'}}</dd>
      <dt>Local</dt>
      <dd>{{acidente.local}}</dd>
      <dt>Descrição</dt>
      <dd>{{acidente.descricao}}</dd>
      <dt>Status</dt>
      <dd>{{acidente.get_status_display}}</dd>
      <dt>Coordenador</dt>
      <dd>{{acidente.coordenador}}</dd>
      <dt>Especialista</dt>
      <dd>{{acidente.especialista}}</dd>
      <dt>Link SVC</dt>
      <dd>{{acidente.SVCid}}</dd>
	</dl>

  {% if acidente.missoes_ativas %}
    <h3>Missões para o Acidente <a class="small text-primary" href="/acidentes/missoes?acidente_id={{acidente.id}}">(total: {{acidente.missoes_ativas.count}})</a></h3>
    <ul class="list-unstyled">
      {% for missao in acidente.missoes_ativas %}
        <li><a href="/acidentes/missoes/detalhes?id={{missao.id}}">{{missao.nome}} - {{missao.tipoMissao}} - {{missao.get_status_display}}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="text-muted">Não há missões nesse acidente.</p>
  {% endif %}

	<h3>Câmera SVC<h3>
	<iframe src="{{acidente.SVCid}}"  scrolling='no' frameborder='0' style="overflow: scroll;width: 640px; height:390px;overflow:hidden">Aguarde...</iframe>

{% endblock %}
