{% load staticfiles %}
<html>
<head>
  <title>SiGeCAV</title>
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
  <a href="/acidentes">voltar</a>

  <h1>Editar Acidente</h1>

  <form action"/acidentes/editar" method="post">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{acidente.id}}" />
    Data: <input type="text" name="dataHora" value="{{acidente.dataHora|date:'d/m/Y H:i'}}" /><br/>
    Local: <input type="text" name="local" value="{{acidente.local}}" /><br/>
    Descricao:
    <textarea name="descricao" rows="4" cols="50">{{acidente.descricao}}</textarea>
    <input type="submit" value="Editar">
  </form>
</body>
<html>
