{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Acidentes{% endblock %}

{% block header %}Editar Acidente{% endblock %}

{% block content %}

  	<a class="btn btn-default" href="/acidentes"><img src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/arrow-back-24.png" /></a>
	<br/><br/>

  <form action"/acidentes/editar" method="post">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{acidente.id}}" />
    Data: <input type="text" name="dataHora" value="{{acidente.dataHora|date:'d/m/Y H:i'}}" /><br/><br/>
    Local: <input type="text" name="local" value="{{acidente.local}}" /><br/><br/>
    Descricao:
    <br/><textarea name="descricao" rows="4" cols="50">{{acidente.descricao}}</textarea><br>
    Link SVC: <input type="text" name="SVCid" value="{{acidente.SVCid}}"/><br/>
    <br/><input type="submit" value="Salvar Alterações">
  </form>
	

{% endblock %}
  