{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Acidentes{% endblock %}

{% block header %}Lista de Acidentes{% endblock %}

{% block content %}

	<table class="table">
    <tr>
      <th>Data</th>
      <th>Local</th>
      <th>Descrição</th>
      <th>Status</th>
      <th>Número de missões</th>
      <th></th>
    </tr>
    {% for acidente in acidentes %}
      <tr>
        <td>{{acidente.dataHora|date:'d/m/Y H:i'}}</td>
        <td>{{acidente.local}}</td>
        <td>{{acidente.descricao}}</td>
        <td>{{acidente.get_status_display}}</td>
        {% if acidente.missoes_ativas.count == 0 %}
          <td> 0 </td>
        {% else %}
          <td><a href="/acidentes/missoes?acidente_id={{acidente.id}}">{{acidente.missoes_ativas.count}}</a></td>
        {% endif %}
        <td><a class="btn btn-default" href="/acidentes/detalhes?id={{acidente.id}}">detalhar</a>
        <a class="btn btn-default" href="/acidentes/missoes/novo?acidente_id={{acidente.id}}">Cadastrar nova missão</a>
        <a class="btn btn-default" href="/acidentes/editar?id={{acidente.id}}">editar</a>
        <a class="btn btn-default" href="/acidentes/remover?id={{acidente.id}}" onclick="return confirm('Tem certeza de que deseja remover o acidente?');">remover</a></td>
      </tr>
    {%endfor%}
  </table>

  <a class="btn btn-default" href="/acidentes/novo">Cadastrar Acidente</a>
  
{% endblock %}
