{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Acidentes{% endblock %}

{% block header %}Novo acidente{% endblock %}

{% block content %}

	<a class="btn btn-default" href="/acidentes"><img src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/arrow-back-24.png" /></a>
	<br/><br/>
	
	<form action"/acidentes/novo" method="post">
    {% csrf_token %}
    Data: <input type="text" name="dataHora" value="{% now 'd/m/Y H:i' %}" /><br/><br/>
    Local: <input type="text" name="local" /><br/><br/>
    Descricao:
    <br/><textarea name="descricao" rows="4" cols="50"></textarea><br/>
    <input type="submit" value="Cadastrar">
	</form>
	

{% endblock %}
