{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Acidentes{% endblock %}

{% block header %}Novo acidente{% endblock %}

{% block content %}

	<a class="btn btn-default" href="/acidentes"><img src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/arrow-back-24.png" /></a>
	<br/><br/>
	
	<form action"/acidentes/novo" method="post">
	{% csrf_token %}
	{% if messages %}
		<div class="alert alert-danger">
			<ul class="list-unstyled">
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		  </div>
	{% endif %}
	Data: <input type="text" name="dataHora" value="{% if dataHora %}{{ dataHora }}{% else %}{% now 'd/m/Y H:i' %}{% endif %}" required /><br/><br/>
	Local: <input type="text" name="local" value="{{local}}" required /><br/><br/>
	Descricao:
	<br/><textarea name="descricao" rows="4" cols="50">{{descricao}}</textarea><br/>
	Link SVC: <input type="text" name="SVCid" value="{{SVCid}}"/><br/><br/>
	<input type="submit" value="Cadastrar">
	</form>
	

{% endblock %}
