{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Acidentes{% endblock %}

{% block header %}Novo acidente{% endblock %}

{% block content %}

{% load staticfiles %}

	<a class="btn btn-default" href="/acidentes"><img src="{% static 'images/back.png' %}" /> voltar </a>
	<br/><br/>
	
	<form action"/acidentes/novo" method="post">
	{% csrf_token %}
	{% if messages %}
		<div class="alert alert-danger">
			<ul class="list-unstyled">
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		  </div>
	{% endif %}
	Data: <input type="text" name="dataHora" value="{% if dataHora %}{{ dataHora }}{% else %}{% now 'd/m/Y H:i' %}{% endif %}" required /><br/><br/>
	Local: <input type="text" name="local" value="{{local}}" required /><br/><br/>
	Descricao:
	<br/><textarea name="descricao" rows="4" cols="50">{{descricao}}</textarea><br/>

	Tipo Acesso: <select name="SVCid">
          <option value="" >  </option>
      </select>

	Link SVC: <input type="text" name="SVCid" value="{{SVCid}}"/><br/><br/>
	<option value=" http://www.vejoaovivo.com.br/embed/sp/sao-paulo/transito-av-paulista?type_embed=camera" > Av. Paulista  </option>
	<option value=" http://www.vejoaovivo.com.br/embed/sp/sao-paulo/rua-santa-efigenia-221-centro?type_embed=camera" > Rua Sta. Ifigênia  </option>
	<option value=" http://www.vejoaovivo.com.br/sp/sao-paulo/rua-da-consolacao-2418?type_embed=camera" > Rua da Consolação, 2418  </option>
	<option value=" http://www.vejoaovivo.com.br/sp/sao-paulo/rua-da-consolacao-825?type_embed=camera" > Rua da Consolação, 825  </option>
	<option value=" http://www.vejoaovivo.com.br/sp/sao-paulo/av-brigadeiro-luiz-antonio-" > Av. Brigadeiro Luiz Antonio, 273  </option>273?type_embed=camera
	<option value=" http://www.vejoaovivo.com.br/sp/sao-paulo/av-nove-de-julho-3110?type_embed=camera" > Av. 9 de Julho, 3110  </option>
	<option value=" http://www.vejoaovivo.com.br/sp/sao-paulo/marginal-direita-tiete-952?type_embed=camera" > Marginal Tiete, 952 (Direita)  </option>
	<option value=" http://www.vejoaovivo.com.br/sp/sao-paulo/elevado-costa-e-silva?type_embed=camera" > Minhocão do Maluf  </option>
	<option value=" http://www.vejoaovivo.com.br/sp/sao-paulo/av-ipiranga-esquina-com-av-sao-" > Av. Ipiranga x Av. São João  </option>joao?type_embed=camera
	<option value=" http://www.vejoaovivo.com.br/sp/sao-paulo/avenida-dos-bandeirantes-549?type_embed=camera" > Av. dos Bandeirantes, 549  </option>
	<option value=" http://www.vejoaovivo.com.br/sp/sao-paulo/av-interlagos-3668?type_embed=camera" > Av. Interlagos, 3668  </option>
	<option value="" > Sem video  </option>

	<input type="submit" value="Cadastrar">
	</form>
	

{% endblock %}
