{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Alocar Recursos{% endblock %}

{% block header %}Alocar Recursos{% endblock %}

{% block content %}

   <form action"{% url 'alocar_recurso' %}" method="post">
    {% csrf_token %}
    Acidente: {{acidente.local}} <br />
    Missão: {{missao.nome}} <br />
    <input type="hidden" name="missao_id" value="{{missao.id}}">

    Recurso:
      <select name="recurso_id">
        {% for recurso in recursos %}
          <option value="{{ recurso.id }}">{{recurso}}</option>
        {% endfor %}
      </select>

      <br/>

    Quantidade: <input type="number" name="quantidadeAlocada" min="1" max="5"><br/>

    <input type="submit" value="Cadastrar">
  </form>  

{% endblock %}