{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Detalhe da missão{% endblock %}

{% block header %}Detalhe da missão{% endblock %}

{% block content %}

  {% load staticfiles %}
  <div class="form-group">
    <a class="btn btn-default" href="/acidentes/missoes?acidente_id={{missao.acidente.id}}"><img src="{% static 'images/back.png' %}" /> voltar </a>
    {% if user.profile.tipoAcesso == 'coordenador' %}
      {% if missao.status == 'aguardandoRecursos' and missao.acidente.coordenador.id == user.id %}
        <a class="btn btn-default" href="/acidentes/missoes/alocarRecurso?acidente_id={{missao.acidente.id}}&missao_id={{missao.id}}">Alocar Recurso</a>
      {% endif %}
      <a class="btn btn-default" href="/acidentes/missoes/alterarStatus?id={{missao.id}}">Alterar status</a>
    {% endif %}
    {% if user.profile.tipoAcesso == "administrador" %}
      <a class="btn btn-default" href="/acidentes/missoes/remover?id={{missao.id}}" onclick="return confirm('Tem certeza de que deseja remover a missão?');" >Remover</a>
    {% endif %}
  </div>

  <dl class="dl-horizontal">
      <dt>Nome</dt>
      <dd>{{missao.nome}}</dd>
      <dt>Tipo</dt>
      <dd>{{missao.get_tipoMissao_display}}</dd>
      <dt>Status</dt>
      <dd>{{missao.get_status_display}}</dd>
      <dt>Recursos Alocados</dt>
      <dd>
          {% if missao.recursos.count %}
            <ul class="list-unstyled">
              {% for alocacaoRecurso in alocacoesRecurso %}
                <li>
                  <a href="/acidentes/missoes/detalhesRecursoAlocado?id={{alocacaoRecurso.id}}">{{ alocacaoRecurso.recurso}}</a> 
                  {% if user.profile.tipoAcesso == 'administrador' %}
                    <a href="/acidentes/missoes/removerRecursoAlocado?id={{alocacaoRecurso.id}}" onclick="return confirm('Tem certeza de que deseja remover o este recurso da missão?');"><small>remover</small></a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            Nenhum recurso alocado
          {% endif %}
      </dd>
      <dt>Acidente</dt> 
      <dd>{{missao.acidente}}</dd>
  </dl>

{% endblock %}