{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Detalhe da missão{% endblock %}

{% block header %}Detalhe da missão{% endblock %}

{% block content %}
  <div class="form-group">
    <a class="btn btn-default" href="/acidentes/missoes?acidente_id={{missao.acidente.id}}">Voltar para missões</a>
    {% if user.profile.tipoAcesso == 'coordenador' %}
      {% if missao.status == 'aguardandoRecursos' %}
        <a class="btn btn-default" href="/acidentes/missoes/alocarRecurso?acidente_id={{missao.acidente.id}}&missao_id={{missao.id}}">Alocar Recurso</a>
      {% endif %}
      <a class="btn btn-default" href="/acidentes/missoes/alterarStatus?id={{missao.id}}">Alterar status</a>
    {% endif %}
    {% if user.profile.tipoAcesso == "administrador" %}
      <a class="btn btn-default" href="/acidentes/missoes/remover?id={{missao.id}}" onclick="return confirm('Tem certeza de que deseja remover a missão?');" >Remover</a>
    {% endif %}
  </div>

  <table class="table">
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Status</th>
      <th>Recursos Alocados</th>
      <th>Acidente</th> 
    </tr>
    <tr>
      <td>{{missao.nome}}</td>
      <td>{{missao.get_tipoMissao_display}}</td>
      <td>{{missao.get_status_display}}</td>
      <td>
          {% if missao.recursos.count %}
            <ul class="list-unstyled">
              {% for alocacaoRecurso in alocacoesRecurso %}
                <li><a href="/acidentes/missoes/detalhesRecursoAlocado?id={{alocacaoRecurso.id}}">{{ alocacaoRecurso.recurso}}</a> <a href="/acidentes/missoes/removerRecursoAlocado?id={{alocacaoRecurso.id}}"><small>remover</small></a></li>
              {% endfor %}
            </ul>
          {% else %}
            Nenhum recurso alocado
          {% endif %}
      </td>
      <td>{{missao.acidente}}</td>
    </tr>
  </table>

{% endblock %}