{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Missões{% endblock %}

{% block header %}Missões{% endblock %}

{% block content %}

  <div class="form-group">
    {% load staticfiles %}

    <a class="btn btn-default" href="{% url 'acidentes' %}"><img src="{% static 'images/back.png' %}" /> voltar </a>

    {% if user.profile.tipoAcesso == 'especialista' and acidente.aceita_novas_missoes %}
      {% if acidente.especialista == None or user.id == acidente.especialista.id %}
        <a class="btn btn-primary" href="/acidentes/missoes/novo?acidente_id={{acidente.id}}">Cadastrar missão</a>
      {% endif %}
    {% endif %}
  </div>

  {% if missoes %}

    <table class="table">
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Status</th>
        <th>Recursos alocados</th>
        <th></th>
      </tr>
      {% for missao in missoes %}
        <tr>
          <td>{{missao.nome}}</td>
          <td>{{missao.get_tipoMissao_display}}</td>
          <td>{{missao.get_status_display}}</td>
          {% if missao.recursos.count == 0 %}
            <td> 0 </td>
          {% else %}
            <td><a href="/acidentes/missoes/detalhes?id={{missao.id}}">{{missao.recursos.count}}</a></td>
          {% endif %}

          <td class="btn-group btn-group-sm">
            <a class="btn btn-default" href="/acidentes/missoes/detalhes?id={{missao.id}}">detalhar</a>
            
          {% if user.profile.tipoAcesso == 'coordenador' and acidente.coordenador.id == user.id and missao.can_change_status %}
            <a class="btn btn-default" href="/acidentes/missoes/alocarRecurso?acidente_id={{acidente.id}}&missao_id={{missao.id}}">Alocar Recurso</a>
            <a class="btn btn-default" href="/acidentes/missoes/alterarStatus?id={{missao.id}}">Alterar Status</a>
          {% endif %}          

          {% if user.profile.tipoAcesso == 'administrador' %}
            <a class="btn btn-default" href="/acidentes/missoes/remover?id={{missao.id}}" onclick="return confirm('Tem certeza de que deseja remover a missão?');">remover</a>
          {% endif %}

          </td>
        </tr>
      {%endfor%}
    </table>
  {% else %}
    <p class="text-muted">Não há missões nesse acidente.</p>
  {% endif %}

{% endblock %}
