{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Missões{% endblock %}

{% block header %}Missões{% endblock %}

{% block content %}
  <a href="/acidentes">Voltar para acidentes</a>

  <table class="table">
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Status</th>
      <th>Recursos alocados</th>
      <th></th>
    </tr>
    {% for missao in missoes %}
      <tr>
        <td>{{missao.nome}}</td>
        <td>{{missao.get_tipoMissao_display}}</td>
        <td>{{missao.get_status_display}}</td>
        {% if missao.recursos.count == 0 %}
          <td> 0 </td>
        {% else %}
          <td><a href="/acidentes/missoes/detalhes?id={{missao.id}}">{{missao.recursos.count}}</a></td>
        {% endif %}
        <td class="btn-group btn-group-sm"><a class="btn btn-default" href="/acidentes/missoes/detalhes?id={{missao.id}}">detalhar</a>
        <a class="btn btn-default" href="/acidentes/missoes/alterarStatus?id={{missao.id}}">alterar status</a>
        <a class="btn btn-default" href="/acidentes/missoes/alocarRecurso?acidente_id={{acidente.id}}&missao_id={{missao.id}}" >alocar recurso</a>
        <a class="btn btn-default" href="/acidentes/missoes/remover?id={{missao.id}}" onclick="return confirm('Tem certeza de que deseja remover a missão?');">remover</a></td>
      </tr>
    {%endfor%}
  </table>

  <a class="btn btn-default" href="/acidentes/missoes/novo?acidente_id={{acidente.id}}">Cadastrar missao</a>
{% endblock %}
