{% load staticfiles %}
<html>
<head>
  <title>SiGeCAV</title>
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
  <h1>Nova missão</h1>

  <form action"/missoes/novo" method="post">
    {% csrf_token %}
    Acidente: {{acidente.local}} <br />
    <input type="hidden" name="acidente_id" value="{{acidente.id}}">

    Nome: <input type="text" name="nome" /><br/>
    Tipo: 
      <select name="tipoMissao">
        <option value="resgate">resgate</option>
        <option value="remocaoObstaculo">remoção de obstáculos</option>
        <option value="transporte">transporte</option>
        <option value="socorroVitima">socorros à vítima</option>
        <option value="remocaoVitima">remoção da vítima</option>
      </select>

      <br/>

    <input type="submit" value="Cadastrar">
  </form>
</body>
<html>
