{% load staticfiles %}
<html>
<head>
  <title>SiGeCAV</title>
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
  <form action"/missoes/novo" method="post">
    {% csrf_token %}
    Nome: <input type="text" name="nome" /><br/>
    Tipo: 
      <select name="tipoMissao">
        <option value="resgate">resgate</option>
        <option value="remocaoObstaculo">remoção de obstáculos</option>
        <option value="transporte">transporte</option>
        <option value="socorroVitima">socorros à vítima</option>
        <option value="remocaoVitima">remoção da vítima</option>
      </select>

      <br/>

    Acidente: 
      <select name="acidente_id">
        {% for acidente in acidentes %}
          <option value="{{acidente.id}}">{{acidente.local}}</option>
        {%endfor%}
      </select>
    <input type="submit" value="Cadastrar">
  </form>
</body>
<html>
