{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Missão{% endblock %}

{% block header %}Nova missão{% endblock %}

{% block content %}

  <form action"/missoes/novo" method="post">
    {% csrf_token %}
    Acidente: {{acidente.local}} <br />
    <input type="hidden" name="acidente_id" value="{{acidente.id}}"><br/>

    Nome: <input type="text" name="nome" /><br/><br/>
    Tipo: 
    <select name="tipoMissao">
      {% for key, value in mission_types %}
        <option value="{{key}}" {%ifequal key acidente.missao.tipoMissao%}selected{%endifequal%}>{{ value }}</option>
      {% endfor %}
    </select>
    <br/><br/>

    <input type="submit" value="Cadastrar">
  </form>
	
{% endblock %}
