body {
	font-family: "Verdana";
}

.logo {
	color: yellow;
}

.navbar.navbar-inverse .navbar-brand,
.navbar.navbar-inverse .navbar-brand:hover {
	border-right: 10px;
}

.navbar.navbar-inverse .glyphicon-road {
	font-size: 16px;
	margin-right: 7px;
}

.navbar.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar.navbar-inverse .navbar-nav>li>a:hover {
	background: #105353;
}

.navbar.navbar-inverse .navbar-nav>li>a:focus,
.navbar.navbar-inverse .navbar-nav>.open>a {
	color: white;
	background: #105353;
}

.navbar.navbar-inverse .navbar-nav>.active>a {
	background-color: #FFD42A;
	color: #555;
	font-weight: bold;
}

.navbar.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: yellow;
	color: #555;
}

.navbar.navbar-inverse .navbar-text>a{
	color: white;
}

.navbar.navbar-inverse .navbar-text>a:hover{
	color: #78D5D5;
	text-decoration: none;
}

.navbar.navbar-inverse .navbar-text .glyphicon.glyphicon-off {
	padding-left: 20px;
	color: #EC4848;
}

ul.errorlist {
	list-style-type: none;
	color: #8a6d3b;
	padding-left: 0px;
	font-size: 12px;
}