{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Detalhar Usuários{% endblock %}

{% block header %}Detalhes de Usuários{% endblock %}

{% block content %}

  {% load staticfiles %}
  
  <div class="form-group">
    <a class="btn btn-default" href="{% url 'usuarios' %}"><img src="{% static 'images/back.png' %}" /> voltar </a>
    <a class="btn btn-default" href="/conta/editar?id={{usuario.id}}">editar</a>
    <a class="btn btn-default" href="/conta/remover?id={{usuario.id}}" onclick="return confirm('Tem certeza de que deseja remover o usuário?');">remover</a>
  </div>

  <dl class="dl-horizontal">
    <dt>Nome</dt>
    <dd>{{usuario.first_name}} {{usuario.last_name}}</dd>
    <dt>Nome de usuário</dt>
    <dd>{{usuario.username}}</dd>
    <dt>E-mail</dt>
    <dd>{{usuario.email}}</dd>
    <dt>Tipo Acesso</dt>
    <dd>{{usuario.profile.get_tipoAcesso_display}}</dd>
  </dl>  
{% endblock %}
