{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Detalhar Usuários{% endblock %}

{% block header %}Detalhar de Usuários{% endblock %}

{% block content %}
  
  <a href="{% url 'usuarios' %}">voltar</a>

  <table class="table">

    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Tipo Acesso</th>
      <th></th>
    </tr>
    <tr>
      <td>{{usuario.first_name}} {{usuario.last_name}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.profile.get_tipoAcesso_display}}</td>
      <td>
        <a class="btn btn-default" href="/conta/detalhes?id={{usuario.id}}">detalhar</a>
        <a class="btn btn-default" href="/conta/editar?id={{usuario.id}}">editar</a>
        <a class="btn btn-default" href="/conta/remover?id={{usuario.id}}" onclick="return confirm('Tem certeza de que deseja remover o usuário?');">remover</a>
      </td>
    </tr>
  </table>  
{% endblock %}
