{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Editar Usuário{% endblock %}

{% block header %}Editar Usuário{% endblock %}

{% block content %}

  {% load staticfiles %}

  <a class="btn btn-default" href="{% url 'usuarios' %}"><img src="{% static 'images/back.png' %}" /> voltar </a>

  <form action"{% url 'recursoNovo' %}" method="post">
    {% csrf_token %}

    <input type="hidden" name="id" value="{{usuario.id}}" />

    Nome: <input type="text" name="firstName" value="{{usuario.first_name}}" required /><br/>
    E-mail: <input type="text" name="email" value="{{usuario.email}}" required /><br/>
    Usuário: <input type="text" name="username" value="{{usuario.username}}" required /><br/>
    Tipo Acesso: <select name="tipoAcesso">
        {% for key, value in role_choices %}
          <option value="{{key}}" {%ifequal key usuario.profile.tipoAcesso%}selected{%endifequal%}>{{ value }}</option>
        {% endfor %}
      </select> 
    <br/><br/>  
    Mudar senha:<br/>
    Nova Senha: <input type="password" name="newPassword" /><br/>

    <input type="submit" value="Editar">
  </form>

{% endblock %}
