{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Editar Usuário{% endblock %}

{% block header %}Editar Usuário{% endblock %}

{% block content %}
  <a href="{% url 'usuarios' %}">voltar</a>

  <form action"{% url 'recursoNovo' %}" method="post">
    {% csrf_token %}

    <input type="hidden" name="id" value="{{usuario.id}}" />

    Nome: <input type="text" name="firstName" value="{{usuario.first_name}}" /><br/>
    E-mail: <input type="text" name="email" value="{{usuario.email}}"/><br/>
    Usuário: <input type="text" name="username" value="{{usuario.username}}" /><br/>

    Senha: <input type="text" name="password" /><br/>
    <input type="submit" value="Editar">
  </form>

{% endblock %}
