{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Login{% endblock %}

{% block page %}
	<div class="container">
	  <div class="page-header">
	    <h1>Login</h1>
	  </div>

	  <div class="row">
	    <div class="col-lg-12">
				{% if messages %}
					<div class="alert alert-danger">
					<ul class="list-unstyled">
					  {% for message in messages %}
					    <li>{{ message }}</li>
					  {% endfor %}
					</ul>
					</div>
				{% endif %}
				<form class="form-horizontal" role="form" method="post" action="{% url 'custom_login' %}">
					{% csrf_token %}

					<div class="form-group">
			    	<label class="col-lg-2 control-label" for="{{ form.username.id_for_label }}">{{form.username.label}}:</label>
			    	<div class="col-lg-3">
			  			<input class="form-control" id="{{ form.username.id_for_label }}" name="{{form.username.html_name}}" type="text">
			  		</div>
			  		<div class="col-lg-5 help-block">{{form.username.errors}}</div>
					</div>

					<div class="form-group">
			    	<label class="col-lg-2 control-label" for="{{ form.password.id_for_label }}">{{form.password.label}}:</label>
			    	<div class="col-lg-3">
			  			<input class="form-control" id="{{ form.password.id_for_label }}" name="{{form.password.html_name}}" type="password">
			  		</div>
			  		<div class="col-lg-5 help-block">{{ form.password.errors }}</div>
					</div>

					<div class="form-group">
			    	<div class="col-lg-offset-2 col-lg-10">
							<input type="submit" class="btn btn-primary" name="submit" value="Entrar" />
						</div>
					</div>

					<input type="hidden" name="next" value="{{ next }}" />

				</form>
	    </div>
	  </div>
	</div>
{% endblock %}


