{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Novo Usuário{% endblock %}

{% block header %}Novo Usuário{% endblock %}

{% block content %}
  <a href="{% url 'usuarios' %}">voltar</a>

  <form action"{% url 'recursoNovo' %}" method="post">
    {% csrf_token %}
    {% if messages %}
      <div class="alert alert-danger">
        <ul class="list-unstyled">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    Nome: <input type="text" name="firstName" value="{{first_name}}" /><br/>
    E-mail: <input type="email" name="email" value="{{email}}" /><br/>
    Usuário: <input type="text" name="username" value="{{username}}" /><br/>
    Senha: <input type="password" name="password" value="{{password}}" /><br/>
    Tipo Acesso: <select name="tipoAcesso">
        {% for key, value in role_choices %}
          <option value="{{key}}" {%ifequal key tipoAcesso%}selected{%endifequal%}>{{ value }}</option>
        {% endfor %}
      </select>

    <input type="submit" value="Cadastrar">
  </form>

{% endblock %}
