{% extends "SiGeCAV/base.html" %}

{% block title %}Login Page{% endblock %}

{% block content %}
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form class="form-horizontal" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}

		<!-- {% for field in form %}
	    <div class="form-group">
        {{ field.errors }}
        <div class="col-lg-2 control-label">{{ field.label_tag }}</div>
	    	<div class="col-lg-10">{{ field }}</div>
	    </div>
		{% endfor %} -->

		<div class="form-group">
    	<label class="col-lg-2 control-label" for="{{ form.username.id_for_label }}">{{form.username.label}}:</label>
    	<div class="col-lg-3">
  			<input class="form-control" id="{{ form.username.id_for_label }}" name="{{form.username.html_name}}" type="text">
  		</div>
  		<div class="col-lg-5 help-block">{{form.username.errors}}</div>
		</div>

		<div class="form-group">
    	<label class="col-lg-2 control-label" for="{{ form.password.id_for_label }}">{{form.password.label}}:</label>
    	<div class="col-lg-3">
  			<input class="form-control" id="{{ form.password.id_for_label }}" name="{{form.password.html_name}}" type="password">
  		</div>
  		<div class="col-lg-5 help-block">{{ form.password.errors }}</div>
		</div>

		<div class="form-group">
    	<div class="col-lg-offset-2 col-lg-10">
				<input type="submit" class="btn btn-primary" name="submit" value="Entrar" />
			</div>
		</div>

		<input type="hidden" name="next" value="{{ next }}" />

	</form>

{% endblock %}


