{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Detalhar Recursos{% endblock %}

{% block header %}Detalhar Recurso{% endblock %}

{% block content %}
  {% load staticfiles %}

  <div class="form-group">
    <a class="btn btn-default" href="{% url 'recursos' %}"><img src="{% static 'images/back.png' %}" /> voltar </a>
    {% if user.profile.tipoAcesso == 'administrador' %}

      {% if recurso.naoEstaAlocado %}
        <a class="btn btn-default" href="/recursos/editar?id={{recurso.id}}">Editar</a>
        <a class="btn btn-default" href="/recursos/remover?id={{recurso.id}}" onclick="return confirm('Tem certeza de que deseja remover o recurso?');" >Remover</a>
      {% else %}
        <div class="js-tooltip btn" data-placement="right" data-toggle="tooltip" title="A alteração do recurso foi desabilitada, pois o recurso está alocado em missões.">
          <a class="btn btn-default" href="/recursos/editar?id={{recurso.id}}" disabled>Editar</a>
        </div>
        <div class="js-tooltip btn" data-placement="right" data-toggle="tooltip" title="A remoção do recurso foi desabilitada, pois o recurso está alocado em missões.">
          <a class="btn btn-default" href="/recursos/remover?id={{recurso.id}}" onclick="return confirm('Tem certeza de que deseja remover o recurso?');" disabled >Remover</a>
        </div>
      {% endif %}
    {% endif %}
  </div>

  <dl class="dl-horizontal">
    <dt>Nome</dt>
    <dd>{{recurso.nome}}</dd>
    <dt>Tipo</dt>
    <dd>{{recurso.get_tipoRecurso_display}}</dd>
    <dt>Status</dt>
    <dd>{{recurso.get_status_display}}</dd>
    <dt>Telefone</dt>
    <dd>{{recurso.telefone}}</dd>
    <dt>Quantidade Total</dt>
    <dd>{% firstof recurso.quantidadeTotal "---" %}</dd>
    <dt>Quantidade Disponível</dt>
    <dd>{% firstof recurso.quantidadeDisponivel "---" %}</dd>
    <dt>Descrição</dt>
    <dd>{{recurso.descricao}}</dd>
  </dl>
{% endblock %}