{% extends "SiGeCAV/base.html" %}

{% block title %}SiGeCAV - Recursos{% endblock %}

{% block header %}Recursos{% endblock %}

{% block content %}

  <table class="table">
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Telefone</th>
      <th>Quantidade Total</th>
      <th></th>
    </tr>
    {% for recurso in recursos %}
      <tr>
        <td>{{recurso.nome}}</td>
        <td>{{recurso.get_tipoRecurso_display}}</td>
        <td>{{recurso.telefone}}</td>
        <td>{% firstof recurso.quantidadeTotal "---" %}</td>
        <td>
          <a href="/recursos/detalhes?id={{recurso.id}}">detalhar</a>
          <a href="/recursos/editar?id={{recurso.id}}">editar</a>
          <a href="/recursos/remover?id={{recurso.id}}">remover</a>
        </td>
      </tr>
    {%endfor%}
  </table>

  <a href="{% url 'recursoNovo' %}">Cadastrar Recurso</a>

{% endblock %}
